PIZZA SALES SQL QUERIES

A. KPIâ€™s

1. Total Revenue:

In [ ]:
SELECT SUM(total_price) AS Total_Revenue FROM pizza_sales;

2. Average Order Value

In [ ]:
SELECT (SUM(total_price) / COUNT(DISTINCT order_id)) AS Avg_order_Value FROM
pizza_sales

3. Total Pizzas Sold

In [ ]:
SELECT SUM(quantity) AS Total_pizza_sold FROM pizza_sales

4. Total Orders

In [ ]:
SELECT COUNT(DISTINCT order_id) AS Total_Orders FROM pizza_sales

5. Average Pizzas Per Order

In [ ]:
SELECT CAST(CAST(SUM(quantity) AS DECIMAL(10,2)) /
CAST(COUNT(DISTINCT order_id) AS DECIMAL(10,2)) AS DECIMAL(10,2))
AS Avg_Pizzas_per_order
FROM pizza_sales

B. Daily Trend for Total Orders

In [ ]:
SELECT DATENAME(DW, order_date) AS order_day, COUNT(DISTINCT order_id) AS
total_orders
FROM pizza_sales
GROUP BY DATENAME(DW, order_date)

C. Monthly Trend for Orders

In [ ]:
select DATENAME(MONTH, order_date) as Month_Name, COUNT(DISTINCT order_id) as
Total_Orders
from pizza_sales
GROUP BY DATENAME(MONTH, order_date)

D. % of Sales by Pizza Category

In [ ]:
SELECT pizza_category, CAST(SUM(total_price) AS DECIMAL(10,2)) as
total_revenue,
CAST(SUM(total_price) * 100 / (SELECT SUM(total_price) from pizza_sales) AS
DECIMAL(10,2)) AS PCT
FROM pizza_sales
GROUP BY pizza_category

E. % of Sales by Pizza Size

In [ ]:
SELECT pizza_size, CAST(SUM(total_price) AS DECIMAL(10,2)) as total_revenue,
CAST(SUM(total_price) * 100 / (SELECT SUM(total_price) from pizza_sales) AS
DECIMAL(10,2)) AS PCT
FROM pizza_sales
GROUP BY pizza_size
ORDER BY pizza_size

F. Total Pizzas Sold by Pizza Category

In [ ]:
SELECT pizza_category, SUM(quantity) as Total_Quantity_Sold
FROM pizza_sales
WHERE MONTH(order_date) = 2
GROUP BY pizza_category
ORDER BY Total_Quantity_Sold DESC

G. Top 5 Pizzas by Revenue

In [ ]:
SELECT Top 5 pizza_name, SUM(total_price) AS Total_Revenue
FROM pizza_sales
GROUP BY pizza_name
ORDER BY Total_Revenue DES

H. Bottom 5 Pizzas by Revenue

In [ ]:
SELECT Top 5 pizza_name, SUM(total_price) AS Total_Revenue
FROM pizza_sales
GROUP BY pizza_name
ORDER BY Total_Revenue ASC

I. Top 5 Pizzas by Quantity

In [ ]:
SELECT Top 5 pizza_name, SUM(quantity) AS Total_Pizza_Sold
FROM pizza_sales
GROUP BY pizza_name
ORDER BY Total_Pizza_Sold DESC

J. Bottom 5 Pizzas by Quantity

In [ ]:
SELECT TOP 5 pizza_name, SUM(quantity) AS Total_Pizza_Sold
FROM pizza_sales
GROUP BY pizza_name
ORDER BY Total_Pizza_Sold ASC

K. Top 5 Pizzas by Total Orders

In [ ]:
SELECT Top 5 pizza_name, COUNT(DISTINCT order_id) AS Total_Orders
FROM pizza_sales
GROUP BY pizza_name
ORDER BY Total_Orders DESC

L. Borrom 5 Pizzas by Total Orders

In [ ]:
SELECT Top 5 pizza_name, COUNT(DISTINCT order_id) AS Total_Orders
FROM pizza_sales
GROUP BY pizza_name
ORDER BY Total_Orders ASC